@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(./assets/fonts/font1.woff2);
}

@font-face {
    font-family: font2;
    src: url(./assets/fonts/font2.woff);
}

@font-face {
    font-family: font3;
    src: url(./assets/fonts/font3.woff2);
}

.transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .transform-rotate-y-180 {
    transform: rotateY(180deg);
  }